<%= form_for(@cta) do |f| %>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :url %><br>
    <%= f.text_field :url, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :always %> - single word to always be matched<br>
    <%= f.text_field :always, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :keywords %> - comma seperated list of words<br>
    <%= f.text_field :keywords, class: "form-control"  %>
  </div>

  <% if policy(Cta).edit? %>
    <div class="form-group">
      <div class="checkbox">
        <label for="item_published">
          <%= f.check_box :published %> Published?
        </label>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit 'Suggest', class: "btn btn-md btn-success" %>
  </div>
<% end %>
