<div class="container">
  <%= render 'actions' %>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>URL</th>
        <th>Always</th>
        <th>Keywords</th>
        <th>Published?</th>
        <th colspan="2"></th>

      </tr>
    </thead>

    <tbody>
      <% @ctas.each do |cta| %>
        <tr>
          <td><%= cta.title %></td>
          <td><%= cta.url %></td>
          <td><%= cta.always %></td>
          <td><%= cta.keywords %></td>
          <td><%= cta.published %></td>


          <td><%= link_to 'Edit', edit_cta_path(cta), class: "btn btn-success btn-sm" %></td>
          <td><%= link_to 'Destroy', cta, method: :delete, data: { confirm: "Really destroy? It sounds pretty dramatic."}, class: "btn btn-danger btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
